@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dongle:wght@300&family=Raleway:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --bgcolorHead: #0e0c11;
  --colorHead: cornsilk;
  --ButtonEditBg: orange;
  --ButtonFormBg: blue;
  --bgcolorFormExpenses: rgb(92 89 89);
  --bgcolorLogin: rgba(231, 238, 238, 0.664);
}

/* 
1 - telas 1/2
2 - telas 2/2
3 - tabela 
4 - header 
5 - expenseTable 
6 - expenseForm
7 - login
*/


/* telas 1/2 */
@media only screen and (min-width: 741px) {
  body {
    background: linear-gradient(to right, #42275a, #734b6d) !important;
  }

  /* header */
  .nav-icon {
    display: none;
  }

  #total {
    left: 33vw;
  }

  /* expenseForm */
  .form-expenses {
    display: flex !important;
    width: 100vw;
    background-color: var(--bgcolorHead);
    color: var(--colorHead);
    align-items: center;
    padding: 10px;
    height: max-content;
    flex-wrap: wrap;
  }

  .form-expenses label {
    margin: 0 0.7rem;
    font-size: large;
  }

  .form-expenses button {
    margin-left: 3vw;
  }

  .form-expenses select, .form-expenses button {
    max-height: 5vh;
    padding: 4px;

  }

  .despesa-span {
    display: none;
  }

  .form-expenses input {
    max-width: 13vw;
    position: relative;
    top: 10px;
    padding: 2px;
  }

  .login-pag form {
    width: 20em;
    top: 6em;
  }

  #login-message {
    margin-top: 7vh;
  }
}

/* telas 2/2 */
@media only screen and (max-width: 740px) {

  /* expenseForm */
  .form-expenses input {
    max-width: 39vw;
  }

  .despesa-span {
    font-size: x-large;
    position: relative;
    font-family: monospace;
    top: 6px;
    right: 10px;
  }

  .form-expenses {
    position: fixed;
    background-color: var(--bgcolorFormExpenses);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: 80vh;
    width: 50vw;
    border-radius: 7px;
    transition: ease-in-out 100ms;
    right: 2px;
    top: 0;
    align-items: center;
    color: var(--colorHead);
  }

  .form-expenses>input {
    max-width: 40vw;
  }

  /* header */
  #total {
    left: 13vw;
  }

  #email-header {
    display: none;
  }

  .nav-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: x-large;
    z-index: 1;
    visibility: visible;
    display: initial;
    color: var(--colorHead);
  }

  /* buttons */
  button {
    padding: 3px;
  }

  /* tabela */
  tbody td:hover {
    font-size: 20px;
    transition: ease-in 300ms;
  }

  .login-pag form {
    width: 16em;
    top: 3em;
  }

  body {
    background-color: var();
  }
}


body {
  background: linear-gradient(to right, #42275a, #734b6d);
  overflow-x: hidden;
}

/* tabela */
table {
  font-size: clamp(1.3vw, 57%, 5em);
  text-align: center;
  width: 100vw;

}

tbody tr:hover {
  background-color: #f5f5f5
}

th, td {
  padding: 3.5px;
}

tr td {
  background-color: rgba(230, 222, 222, 0.897);
}

thead th {
  color: #f5f5f5;
}

tbody tr {
  transition: ease-in 100ms;
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Dongle', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: rgb(54, 52, 52);
}

/* header */

header {
  height: 8vh;
  display: flex;
  gap: 2vw;
  align-items: center;
  background-color: var(--bgcolorHead);
  color: var(--colorHead);

}

#header-icon {
  display: flex;
  font-size: 40px;
  width: 4.5em;
  justify-content: space-around;
  align-items: center;
}

#total span {
  position: relative;
  right: 20px;
}

header>span {
  display: flex;
  gap: 1em;
  justify-self: center;
  max-width: 18em;
  position: relative;
}

#email-header {
  position: absolute;
  right: 3vw;
}

#total {
  font-size: 1.5em;
  position: relative;
}

/* expenseTable */

#Dinheiro {
  color: green;
}

#Alimentação, #Lazer, #Trabalho, #Transporte, #Saúde, .method {
  text-shadow: 1px 1px 3px #716666;
}

#Alimentação {
  color: rgb(251, 255, 0);
}

#Lazer {
  color: rgb(125, 4, 196);
}

#Trabalho {
  color: rgba(87, 84, 84, 0.76);
}

#Transporte {
  color: rgb(216, 39, 223);
}

#Saúde {
  color: rgb(39, 96, 202);
}

.method {
  color: red;
}

.form-expenses input, .login-pag input {
  margin-bottom: 3vh;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  border: solid thin rgb(167, 161, 161);
  border-radius: 5px;
}

.form-expenses select {
  outline: none;
  border-radius: 5px;
  background-color: rgb(244, 252, 244);
  max-width: fit-content;
  padding: 2px;
}

#form-edit {
  background: none;
  background-color: var(--ButtonEditBg);
  color: #2f056e;
}

/* buttons */

button {
  margin: 0.5vw;
  border-radius: 3px;
  max-height: 2em;
  padding: 1vh;
  font-weight: bold;
  color: #ffffff;
  border: unset;
}

button:active {
  transform: scale(0.9)
}

button:disabled {
  opacity: 0.4;
}

#button-edit {
  background-color: var(--ButtonEditBg);
}

#button-rmv {
  background-color: red;
}

.button-form {
  background-color: var(--ButtonFormBg);
}

/* login */

.login-pag, .login-pag form {
  display: flex;
  flex-direction: column;
}

.login-pag form {
  height: 60vh;
  max-height: 22em;
  background-color: var(--bgcolorLogin);
  gap: 1em;
  align-self: center;
  border-radius: 7px;
  box-shadow: 0 1px 10px 5px rgba(8, 27, 68, 0.534);
  position: relative;

  transition: ease-in 200ms;
}

.login-pag form:hover {
  box-shadow: 0 1px 10px 5px rgb(8, 27, 68);

}

.login-pag input {
  max-width: 12em;
  align-self: center;
  justify-content: center;
  position: relative;
  top: 1em;
  padding: 3px;
}

.login-pag button {
  background-color: #2f056e;
  position: relative;
  top: 1rem;
  width: 7em;
  align-self: center;
}

.login-pag span {
  font-size: xx-large;
  margin-top: 1em;
  color: rgb(8, 27, 68);
  align-self: center;
  font-weight: 600;
}

#login-icon {
  position: relative;
  top: 3px;
}

#login-message {
  font-size: small;
  color: rgb(231, 238, 238);
  font-weight: 400;
}